In [0]:
import pandas as pd
df = pd.read_csv('train.csv')

In [17]:
for column in df:
  print(column, ": ", df[column].isnull().sum())

PassengerId :  0
Survived :  0
Pclass :  0
Name :  0
Sex :  0
Age :  177
SibSp :  0
Parch :  0
Ticket :  0
Fare :  0
Cabin :  687
Embarked :  2

In [0]:
df["Age"].fillna(df["Age"].median(), inplace=True)

In [11]:
print(df["Embarked"].value_counts())

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [0]:
df["Embarked"].fillna("S", inplace=True)

In [0]:
del df["Cabin"]